 <h1>３ちゃんねる。</h1>
  <p><%= link_to "スレッド新規作成", "/boards/new" %></p>
 
 <hr>
 <% @boards.each do |board| %>
 	<h3><%= link_to board.title, "/boards/#{board.id}" %> </h3>
 	<p><%= board.editor %></p>
 	<hr>
 <% end %>